name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
        - java: 11
        - java: 17
    steps:
    - uses: actions/checkout@v4.2.1
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: ${{ matrix.java }}
        cache: sbt
    - run: sbt -v test scripted
