name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
        - java: 8
        - java: 11
        - java: 17
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - uses: coursier/cache-action@v6
    - run: sbt -v test scripted
